/* Navbar  */
.navbar {
    box-shadow: 0px 0px 8px 2px rgba(97, 97, 97, 0.6);
}
.navbar:before {
    content: '';
    height: 400px;
    width: 400px;
    background-color: #c4c9ff;
    position: absolute;
    top: -100px;
    right: -200px;
    border-radius: 50%;
    z-index: -100;
}

.mobile {
    display: none;
}

.PC {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LaptopuList {
    color: #ffffff;
    display: flex;
    margin-top: 5px;
    gap: 10px;
}

.LaptopuList li {
    list-style: none;
    font-weight: 600;
    padding: 0 10px;
    border-radius: 5px;

}

.LaptopuList li:hover {
    border-radius: 5px;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    color: '#000000';
    height: 30;
    font-size: '20px';
    padding: '10px';
    box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
    text-transform: 'none';
    cursor: pointer;
}

@media (max-width:850px) {
    .PC {
        display: none;
    }

    .divider {
        display: none;
    }

    .mobile {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobileNav {
        position: absolute;
        top: 60px;
        right: 18px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-height: 40vh;
        justify-content: flex-start;
        background-color: rgba(236, 236, 236, 0.85);
        backdrop-filter: blur(15px);
        padding: 20px 120px 30px 10px;
        border-radius: 10px;
        animation: mobileNav 0.8s;
        z-index: 100000;
    }

    .uList li {
        list-style: none;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 500;
    }

    @keyframes mobileNav {
        0% {
            margin-right: -200px;
        }

        100% {
            margin-right: 0px;
        }
    }

    .d {
        display: none;
    }
}
/* About  */

.bgCirule{
    position: relative;
}
.bgCirule:before {
    content: '';
    height: 27rem;
    width: 27rem;
    background: linear-gradient(to top, rgba(238, 238, 238, 0), #c4c9ff);
    position: absolute;
    top: -150px;
    left: -200px;
    border-radius: 50%;
    z-index: -100;
}
/* contact me  */
.bgRightCirule{
    width: 100%;
    overflow: hidden;
    position: relative;
    animation: bgRightCirule 1.5s;
}

.bgRightCirule:before {
    content: '';
    height: 600px;
    width: 600px;
    background: linear-gradient(to top, rgba(238, 238, 238, 0), #c4c9ff);
    position: absolute;
    top: 0px;
    right: -300px;
    border-radius: 50%;
    z-index: -100;
}

/* Benifit  */
.benifitCirule{
    width: 100%;
    overflow: hidden;
    position: relative;
    animation: bgRightCirule 1.5s;
}

.benifitCirule:before {
    content: '';
    height: 600px;
    width: 600px;
    background: linear-gradient(to bottom, rgba(238, 238, 238, 0), #c4c9ff);
    position: absolute;
    top: 100px;
    left: 30%;
    border-radius: 50%;
    z-index: -100;
}


.sectionTitle {
    position: relative;
}

.sectionTitle::before {
    text-align: center;
    content: '';
    height: 4px;
    width: 100px;
    background-color: #FF8E53;
    position: absolute;
    top: 100%;
    left: 0px;
    border-radius: 10px;
}

.sectionTitle::after {
    text-align: center;
    content: '';
    height: 4px;
    width: 50px;
    background-color: #FF8E53;
    position: absolute;
    top: 100%;
    left: 0px;
    border-radius: 10px;
    margin-top: 8px;
}


/* Home  */
.Header {
    position: relative;
}


.name {
    color: #4D4B95;
}

.leftanimation {
    position: relative;
    animation: leftanimation 2s;
}

.rightanimation {
    position: relative;
    animation: rightanimation 1.5s;
}


@keyframes rightanimation {
    from {
        opacity: 0.1;
        margin-right: -200px;
    }

    to {
        opacity: 1;
        margin-right: 00px;

    }
}

@keyframes leftanimation {
    from {
        opacity: 0.1;
        margin-left: -200px;
    }

    to {
        opacity: 1;
        margin-left: 00px;

    }
}
/* feature  */
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 3px 5px 2px rgba(255, 138, 138, .3);
}

.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.video-popup.show {
  opacity: 1;
  visibility: visible;
}

/* Contact me  */

.input {
    padding-left: 20px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    border: 1px solid rgb(185, 185, 185);
}

.textInput {
    border-radius: 20px;
    padding: 10px 0 0 20px;
    font-size: 16px;
}